@import 'tailwindcss';

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  /* Hide non-printable elements */
  .no-print {
    display: none !important;
  }
}
